{% extends 'email/base_email.html' %}
{% block content %}
<p style="color:#42a5f5;">Hi <span style="color:#ffd600;">{{ user_name }}</span>,</p>
<p style="color:#2e7d32;">Your account status has changed:</p>
<ul>
  <li><strong>Action:</strong> <span style="color:#ff6f61;">{{ action }}</span></li>
  <li><strong>Reason:</strong> <span style="color:#42a5f5;">{{ reason }}</span></li>
  <li><strong>Action Time:</strong> <span style="color:#ffd600;">{{ action_time }}</span></li>
  <li><strong>Performed By:</strong> <span style="color:#2e7d32;">{{ performed_by }}</span></li>
</ul>
<p style="color:#ff6f61;">Best regards,<br><span style="color:#ffd600;">{{ tenant_name }} Team</span></p>
{% endblock %}