{% extends 'email/base_email.html' %}
{% block content %}
<p style="color:#42a5f5;">Hi <span style="color:#ffd600;">{{ user_name }}</span>,</p>
<p style="color:#2e7d32;">Your password has been <span style="color:#ff6f61;">changed</span>.</p>
<ul>
  <li><strong>Change Method:</strong> <span style="color:#ffd600;">{{ change_method }}</span></li>
  <li><strong>Changed By:</strong> <span style="color:#42a5f5;">{{ changed_by }}</span></li>
  <li><strong>Change Time:</strong> <span style="color:#2e7d32;">{{ change_time }}</span></li>
</ul>
<p style="color:#ff6f61;">If you did not perform this change, please contact support immediately.</p>
<p style="color:#42a5f5;">Best regards,<br><span style="color:#ffd600;">{{ tenant_name }} Team</span></p>
{% endblock %}